{% extends "admin/base.html" %}

{% load admin_urls crispy_forms_tags i18n unfold %}

{% block breadcrumbs %}{% if not is_popup %}
    <div class="px-4 lg:px-8">
        <div class="container mb-6 mx-auto -my-3 lg:mb-12">
            <ul class="flex flex-wrap">
                {% url 'admin:index' as link %}
                {% trans 'Home' as name %}
                {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=name %}

                {% url 'admin:formula_driver_changelist' as link %}
                {% trans 'Drivers' as name %}
                {% include 'unfold/helpers/breadcrumb_item.html' with link=link name=name %}

                {% trans 'Crispy form' as name %}
                {% include 'unfold/helpers/breadcrumb_item.html' with link='' name=name %}
            </ul>
        </div>
    </div>
{% endif %}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block content %}
    {% tab_list "drivers" %}

    <div class="flex flex-col gap-8 mb-8">
        {% crispy form "unfold_crispy" %}
    </div>

    <div class="flex flex-col gap-8">
        {% crispy horizontal_form "unfold_crispy" %}
    </div>
{% endblock %}
