{% load i18n static %}

<a href="?dashboard={{ slug }}" class="bg-white group border border-base-200 flex flex-col overflow-hidden rounded-default shadow-xs transition-all hover:shadow-md dark:bg-base-900 dark:border-base-800">
    <span class="flex items-center justify-center grow">
        <div>
            <img src="{% static "formula/images/dashboards/" %}{{ slug }}-light.webp" alt="{{ title }}" class="w-full h-auto dark:hidden" />
            <img src="{% static "formula/images/dashboards/" %}{{ slug }}-dark.webp" alt="{{ title }}" class="w-full h-auto hidden dark:block" />
        </div>
    </span>

    <span class="block border-t border-base-200 flex items-center px-6 py-4 dark:border-base-800">
        <span class="block">
            <span class="block font-semibold text-base tracking-tight text-important">
                {{ title }}
            </span>

            <span class="block text-subtle">
                {{ description }}
            </span>
        </span>

        <span class="material-symbols-outlined ml-auto relative right-0 transition-all group-hover:-right-1">
            arrow_forward
        </span>
    </span>
</a>
