{% load unfold i18n %}

<div class="bg-gray-50 border border-gray-300 border-dashed flex flex-col gap-4 mb-8 p-6 rounded dark:bg-white/[.02] dark:border-gray-700 lg:flex-row lg:items-center">
    <div class="flex flex-col">
        <h2 class="block font-semibold text-font-important-light text-base dark:text-font-important-dark">
            {% trans "Are you looking for a custom dashboard?" %}
        </h2>

        <p class="leading-relaxed max-w-3xl mt-2">
            {% trans "Did you decide to start using Unfold in your application but you need help with integration? Feel free to get in touch for consulting, priority support on specific tickets or development services." %}
        </p>
    </div>

    <div class="lg:ml-auto">
        {% component "unfold/components/flex.html" with class="flex-col gap-4 lg:flex-row" %}
            {% component "unfold/components/button.html" with href="https://unfoldadmin.com/consulting/?utm_medium=referral&amp;utm_source=formula" %}
                {% trans "Book a call with Lukas" %}
            {% endcomponent %} 

            {% component "unfold/components/button.html" with href="https://unfoldadmin.com/docs" variant="default" %}
                {% trans "I'm good with docs" %}
            {% endcomponent %}  
        {% endcomponent %}
    </div>
</div>