<h2 class="font-medium mb-6 text-sm text-gray-700 dark:text-gray-200 dark:border-gray-800">
    Company Productivity Overview
</h2>

<div class="border mb-12 px-6 rounded shadow-sm text-sm dark:border-gray-800">
    {% include "admin/components/cta.html" with icon="grade" title="OKRs actions list" subtitle="2 participants" %}
    {% include "admin/components/cta.html" with icon="settings" title="KPI metricts" subtitle="7 participants" %}
    {% include "admin/components/cta.html" with icon="notifications" title="Actual projects budgets" %}
</div>