{% load i18n static %}

<h2 class="font-medium mb-6 text-sm text-gray-700 dark:text-gray-200 dark:border-gray-800">
    {% trans "Recent Customer Activity" %}
</h2>

<div class="border mb-12 px-6 py-4 rounded shadow-sm text-sm dark:border-gray-800">
    <div class="flex flex-col text-sm lg:flex-row">
        <div class="flex-grow">
            {% include "admin/components/activity_item.html" with name="Ella Lambert" product="Socks" price="$13.99" time="10 minutes ago" %}

            {% include "admin/components/activity_item.html" with name="Zachary Holt" product="Shirt" price="$3.99" time="15 minutes ago" %}

            {% include "admin/components/activity_item.html" with name="Evie Walton" product="Pants" price="$9.99" time="20 minutes ago" %}

            {% include "admin/components/activity_item.html" with name="Zara Hewitt" product="Hat" price="$11.49" time="25 minutes ago" %}

            {% include "admin/components/activity_item.html" with name="Harvey Richardson" product="Jacket" price="$29.99" time="30 minutes ago" %}
        </div>

        <div class="bg-gray-200 hidden mx-8 my-2 w-px dark:bg-gray-800 lg:block">
        </div>

        <div class="flex-grow">
            {% include "admin/components/activity_item.html" with name="Brandon Cole" product="T-Shirt" price="$43.99" time="2 days ago" %}

            {% include "admin/components/activity_item.html" with name="Samantha Atkinson" product="Hoodie" price="$49.99" time="3 days ago" %}

            {% include "admin/components/activity_item.html" with name="Elizabeth Lord" product="Suit" price="$2.99" time="4 days ago" %}

            {% include "admin/components/activity_item.html" with name="Luke Hammond" product="Blazer" price="$124.99" time="5 days ago" %}

            {% include "admin/components/activity_item.html" with name="Alexandra Waters" product="Bowtie" price="$17.99" time="6 days ago" %}
        </div>    
    </div>
</div>