{% load i18n %}

<div class="border mb-12 p-6 rounded-md shadow-sm dark:border-gray-800">
    <h2 class="border-b font-medium mb-6 -mt-2 -mx-6 pb-4 px-6 text-sm text-gray-700 dark:text-gray-200 dark:border-gray-800">
        {% trans "Last Month Statistics" %}
    </h2>
    
    <div class="flex flex-col items-stretch lg:flex-row">
        <div class="hidden mb-9 w-full sm:!flex lg:mb-0 lg:w-3/5"> 
            <div class="flex items-center w-full lg:px-6 lg:-ml-6 lg:-my-6">
                <canvas id="sample-chart"></canvas>
            </div> 
        </div>

        <div class="lg:w-2/5">
            <div class="lg:py-9"> 
                <h3 class="font-medium mb-3 text-2xl text-gray-700 dark:text-gray-200">
                    $1,234,567.89
                </h3>

                <p class="leading-relaxed mb-9 text-sm">
                    Total revenue between 1 - 31 October. Increase 3.14% comparing to last month.
                </p>

                <h4 class="font-medium mb-3 -mx-3 pb-3 px-3 text-sm text-gray-700 dark:text-gray-200">
                    {% trans "Volume by Product" %}
                </h4>

                <ul>
                    <li class="mb-6">
                        <div class="flex flex-row mb-2.5 text-sm">
                            <h5 class="text-sm">
                                Product A
                            </h5>

                            <strong class="font-semibold ml-auto text-gray-700 dark:text-gray-200">
                                $1,234.56
                            </strong>
                        </div>

                        <div class="bg-gray-200 flex flex-row h-1 rounded overflow-hidden dark:bg-white/10">
                            <div class="bg-primary-900 h-1" style="width:43%"></div>
                            <div class="bg-primary-400 h-1" style="width:43%"></div>
                        </div>
                    </li>

                    <li class="mb-6">
                        <div class="flex flex-row mb-2.5 text-sm">
                            <h5>
                                Product B
                            </h5>

                            <strong class="font-semibold ml-auto text-gray-700 dark:text-gray-200">
                                $1,234.56
                            </strong>
                        </div>

                        <div class="bg-gray-200 flex flex-row h-1 rounded overflow-hidden dark:bg-white/10">
                            <div class="bg-primary-900 h-1" style="width: 28%"></div>
                            <div class="bg-primary-400 h-1" style="width: 19%"></div>
                        </div>
                    </li>                
                    
                    <li class="mb-6">
                        <div class="flex flex-row mb-2.5 text-sm">
                            <h5>
                                Product C
                            </h5>

                            <strong class="font-semibold ml-auto text-gray-700 dark:text-gray-200">
                                $1,234.56
                            </strong>
                        </div>

                        <div class="bg-gray-200 flex flex-row h-1 rounded overflow-hidden dark:bg-white/10">
                            <div class="bg-primary-900 h-1" style="width: 35%"></div>
                            <div class="bg-primary-400 h-1" style="width: 29%"></div>
                        </div>
                    </li>

                    <li>
                        <div class="flex flex-row mb-2.5 text-sm">
                            <h5>
                                Product D
                            </h5>

                            <strong class="font-semibold ml-auto text-gray-700 dark:text-gray-200">
                                $1,234.56
                            </strong>
                        </div>

                        <div class="bg-gray-200 flex flex-row h-1 rounded overflow-hidden dark:bg-white/10">
                            <div class="bg-primary-900 h-1" style="width: 45%"></div>
                            <div class="bg-primary-400 h-1" style="width: 48%"></div>
                        </div>
                    </li>                
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    var ctx = document.getElementById('sample-chart').getContext('2d');
    var style = getComputedStyle(document.body);

    const chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [
                '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28',
            ],
            datasets: [
                {
                    data: [
                        10, 4, 8, 5, 7, 8, 8, 6, 7, 4, 8, 10, 12, 12, 13, 10, 4, 8, 5, 7, 8, 8, 6, 7, 4, 8, 10, 12,
                    ].sort(() => Math.random() - 0.5),
                    backgroundColor: `rgb(${style.getPropertyValue('--color-primary-600')})`,
                },
                {
                    data: [
                        10, 4, 8, 5, 7, 8, 8, 6, 7, 4, 8, 10, 12, 12, 13, 10, 4, 8, 5, 7, 8, 8, 6, 7, 4, 8, 10, 12,
                    ].sort(() => Math.random() - 0.5),
                    backgroundColor: `rgb(${style.getPropertyValue('--color-primary-300')})`,                    
                },
            ]
        },
        options: {
            animation: false,     
            maxBarThickness: 3,
            responsive: true,            
            datasets: {
                bar: {
                    backgroundColor: style.getPropertyValue('--color-primary-600'),
                    borderRadius: 12,
                    border: {
                        width: 0
                    },
                    borderSkipped: 'middle',
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                tooltip: {
                    enabled: false 
                }
            },
            scales: {
                x: {
                    stacked: true,                    
                    borderDash: [5, 5],                        
                    border: {
                        dash: [5, 5],
                        dashOffset: 2,
                        width: 0
                    },                    
                    ticks: {
                        color: '#9CA3AF',
                    }
                },
                y: {
                    beginAtZero: true,
                    display: false,
                    stacked: true,
                    max: 24
                }
            }
        }
    });
</script>
