{% extends 'admin/base.html' %}

{% load i18n unfold %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    {% trans 'Dashboard' %} | {{ site_title|default:_('Django site admin') }}
{% endblock %}

{% block extrahead %}
    {{ block.super }}

    {% if plausible_domain %}
        <script defer data-domain="{{ plausible_domain }}" src="https://plausible.io/js/script.js"></script>
    {% endif %}
{% endblock %}

{% block branding %}
    {% include "unfold/helpers/site_branding.html" %}
{% endblock %}

{% block content %}
    {% include "unfold/helpers/messages.html" %}

    {% if studio_installed %}
        {% if request.GET.dashboard == "retention" %}
            {% include "unfold_studio/dashboards/retention.html" %}
        {% elif request.GET.dashboard == "system" %}
            {% include "unfold_studio/dashboards/system.html" %}
        {% elif request.GET.dashboard == "commerce" %}
            {% include "unfold_studio/dashboards/commerce.html" %}
        {% elif request.GET.dashboard == "spending" %}
            {% include "unfold_studio/dashboards/spending.html" %}
        {% else %}
            {% include "formula/dashboards.html" %}
        {% endif %}
    {% endif %}
{% endblock %}
